/*Thanks Simon Bull for certain parts of the CSS!*/

/* <------- Navigation Bar Styling ------->*/

.bgimg{
  position: fixed;
  filter: blur(8px);
  -webkit-filter: blur(4px);
  filter: brightness(70%);
}

.nav_bar{
  width:100%;
  display: flex;
  position: fixed;
  margin-top: 20px;
  z-index: 1;
}

.nav_bar ul {
  position: fixed;
  right:100px;
}

/*------->> Login/Register */

.nav_bar ul li, .btn-forms, .btn-promote, .btn-delete, .userdashcol ul li{
  width:150px;
  height:40px;
  border:1px solid rgb(255, 255, 255);
  text-align: center;
  display: inline-block;
  padding-top: 6px;
  border-radius: 4px;
  margin:0 10px;
  cursor: pointer;
  transition: .5s;
}

.btn-forms, .userdashcol ul li {
  border:1px solid rgb(55, 140, 168) !important;
  display: block !important;
  margin: 5px !important;
}

.btn-promote {
  border:1px solid green !important;
  margin: 5px !important;
}

.btn-delete {
  border:1px solid red !important;
  margin: 5px !important;
}

.nav_bar ul li a{
  text-decoration: none !important;
  font-size: 18px;
  text-align: center;
  transition: .5s;
  width: 100px;
}

.about{
  background-color: white !important;
  border:none !important;
  padding-top: 6px !important;
  transition: .5s;
}

.about a {
  color:hsl(184, 24%, 55%) !important;
}


.nav_bar ul li:hover{
  background-color: white;
}

.btn-forms:hover, .userdashcol ul li:hover a, .userdashcol ul li:hover{
  background-color: rgb(55, 140, 168);
  color:hsl(184, 10%, 85%);
}

.btn-promote:hover{
  background-color: green;
  color:hsl(184, 10%, 85%);
}

.btn-delete:hover{
  background-color: red;
  color:hsl(184, 10%, 85%);
}

.nav_bar ul li:hover a {
  color:hsl(184, 24%, 55%);
}

.about:hover {
  background-color: rgb(92, 56, 109) !important;
}

/* <------- Header Styling ------->*/

.page_head{
  position: relative;
  width:400px;
  margin:auto;
  right: 20%;
  
}

.phright{
  top:170px;
}

.phleft{
  top:40px;
}

.head_text{
  height:400px;
  margin:auto;
  transition:.5s;
}

/*.page_head h1 {
  font-size: 80px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}*/

.head_text{
  width:90%;
  margin:auto;
}

.page_head h4 {
  margin-top:150px;
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.scroll_main{
  position: relative;
  font-size: 60px;
  padding-right: 20px;
  top:30px;
  color:white !important;
}

.login_input{
  display:block;
  width:100%;
  border:2px solid rgb(233, 233, 233);
  border-radius: 3px;
  height:40px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: rgb(233, 233, 233) !important;
  text-align: center;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
  transition:.5s;
}

.login_input:hover{
  background-color: rgba(255, 255, 255, 0.61);
  color: rgb(29, 29, 29) !important;
  border:2px solid rgba(255, 255, 255, 0.61);
  border-radius: 3px;
}

.login_input:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(65, 65, 65) !important;
  font-weight: bold;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(233, 233, 233) !important;
  transition:.5s;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(233, 233, 233) !important;
  transition:.5s;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(233, 233, 233) !important;
  transition:.5s;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgb(233, 233, 233) !important;
  transition:.5s;
}

.login_input:focus{
  outline:none;
  border:2px solid  rgba(255, 255, 255, 0.61);
  border-radius: 3px;
  font-weight: bold;
}

.submit {
  display:block;
  width:100%;
  border-radius: 20px;
  border:none;
  height:40px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: rgb(233, 233, 233) !important;
  text-align: center;
  font-size: 18px;
  background-color: rgba(63, 161, 193, 0.822);
  transition:.5s;
}

.submit:hover{
  background-color: rgb(55, 140, 148);
}

.to_register {
  color: rgb(133, 139, 143) !important;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.error {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + .post_profile_photo {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + .post_profile_photo {
  opacity: 1;
}

.post_profile_photo{
  width:50px!important;
  border-radius: 50%;
  display: inline-block;
  margin:5px;
  opacity: 0.5;
}

.img{
  width:100%;
  margin:auto;
}

.logosmall {
  height: 25%;
  margin-top: 50px;
  margin-left: 30px;
}

.form_header {
  height: 150px;
  background-color: rgba(55, 140, 168, 0.81) !important;
  background-image: url("img/formimg.png");
  background-blend-mode: color;
}

.jumbotron{
    background-color: rgba(238, 238, 238, 0.81) !important;
    height: 100%;
    width:100%;
    filter: brightness(80%);
    font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron h1{
    display: inline-block;
    color: rgb(252, 76, 86) !important;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 100px;
}

.jumbotron p{
    display: inline-block;
    color: rgb(252, 76, 86) !important;
    margin-left: 70px;
}

/* <------- Navigation Bar Styling ------->*/

.nav_bar2 ul {
  position: fixed;
  margin:10px 200px;
}

/*------->> Login/Register */
.nav_bar2 ul li{
  width:40px;
  height:40px;
  text-align: center;
  display: inline-block;
  padding-top: 6px;
  border-radius: 10px;
  margin:0 20px 0 20px;
  cursor: pointer;
  transition: .5s;
}
.nav_bar2 ul li i{
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  transition: .5s;
}

.nav_bar2 ul li:hover i {
  color:rgb(92, 56, 109);
}

.userdashcol {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.table th {
  text-align: center;
}